# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store
b64ToImg/111.png
b64ToImg/tmp.png
b64ToImg/img2.bin
b64ToImg/img2
b64ToImg/img.bin
b64ToImg/img